:root {
  --gray: #d6d6d6; /* 214, 214, 214 */
  --yellow: #ffd100; /* 255, 209, 0 */
  --gold: #f0a400; /* 240, 164, 0 */
  --custom-white: #edf6f9; /* 237, 246, 249 */
  --custom-black: #000000;
  --custom-gradient: linear-gradient(to right, var(--custom-black), var(--gold), var(--yellow), var(--custom-black));
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.custom-background {
  background: var(--custom-gradient);
}

