:root {
  --gray: #d6d6d6; /* 214, 214, 214 */
  --yellow: #ffd100; /* 255, 209, 0 */
  --gold: #f0a400; /* 240, 164, 0 */
  --custom-white: #edf6f9; /* 237, 246, 249 */
  --custom-black: #000000;
  --custom-gradient: linear-gradient(to right, var(--custom-black), var(--gold), var(--yellow), var(--custom-black));
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar-track {
  background: var(--custom-black); /* Remove white background */
}

/* Handle (scroll thumb) */
::-webkit-scrollbar-thumb {
  background: var(--yellow);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--gold);
}

.custom-background {
  background: var(--custom-gradient);
}

.main-layout-wrapper {
  width: 100%;
  height: 100vh;
  background-color: var(--custom-black);
}